@{
    ViewData["Title"] = "Home Page";
}

<h1>Secure a Web Api in ASP.NET Core using Cookies and ASP.NET Core Web Api Antiforgery Sample project</h1>

<div class="row">
    <div class="col-md-12">
        <p>This is a sample project for the blog posts <a href="https://www.blinkingcaret.com/2018/07/18/secure-an-asp-net-core-web-api-using-cookies/" target="_blank" rel="noopener">Secure a Web Api in ASP.NET Core using Cookies</a> and <a href="https://www.blinkingcaret.com/2018/11/29/asp-net-core-web-api-antiforgery/" target="_blank" rel="noopener">ASP.NET Core Web Api Antiforgery</a>.</p>

        <p>The companion Angular project expects the Web Api to be running on port 8080 (you can change this in Program.cs)</p>        
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <p>The following endpoints are available:</p>

        <ul class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">api/account/register </h4>
                <span class="list-group-item-text">POST with <em>email</em> and <em>password</em> in the request's body</span>                
            </li>
            <li class="list-group-item">                
                <h4>api/account/login </h4>
                <span class="list-group-item-text">POST with parameters email and password in the requests body</span>
            </li>
            <li class="list-group-item">
                <h4>api/account/logout </h4>
                <span class="list-group-item-text">POST with no parameters</span>                
            </li>
            <li class="list-group-item">
                <h4>api/user/name</h4>
                <span class="list-group-item-text">GET returns a string with the logged in user's email</span>                
            </li>            
        </ul>
    </div>
</div>
